<div class="privacy_prompt explicit_consent"> 
  <div class="privacy_prompt_content"> 
    <div>
      <div class="pp_cookie">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 30 29" class="cookie_svg">
          <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="1.056">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.364 1.253c1.225.394-.561 2.311 1.418 3.97 1.979 1.66 3.753.597 4.04.975.286.377-.969 1.008-.263 3.644S26 11.706 26 13c0 1.295-.894 2.434-1.277 3.602-.398 1.21-.366 2.649-1.109 3.657-.75 1.017-2.15 1.428-3.18 2.169-1.02.733-1.844 1.925-3.07 2.319a3.437 3.437 0 0 1-1.054.147c-.907 0-1.873-.242-2.81-.242-.935 0-1.901.242-2.808.242-.363 0-.717-.04-1.055-.147-1.225-.394-2.05-1.586-3.07-2.32-1.03-.74-2.43-1.15-3.18-2.169-.742-1.007-.71-2.446-1.108-3.656C1.895 15.434 1 14.295 1 13c0-1.294.895-2.434 1.278-3.602.398-1.21.366-2.649 1.109-3.657.75-1.017 2.15-1.428 3.18-2.169 1.02-.733 1.844-1.925 3.07-2.319a3.427 3.427 0 0 1 1.054-.147c.907 0 1.873.242 2.809.242.936 0 1.902-.242 2.809-.242.363 0 .717.039 1.055.147z"></path>
            <path d="M14.38 5.87a1.4 1.4 0 0 1-1.408 1.39 1.4 1.4 0 0 1-1.409-1.39 1.4 1.4 0 0 1 1.409-1.392A1.4 1.4 0 0 1 14.38 5.87zM17.373 14.043a1.4 1.4 0 0 1-1.408 1.392 1.4 1.4 0 0 1-1.409-1.392 1.4 1.4 0 0 1 1.409-1.39 1.4 1.4 0 0 1 1.408 1.39z"></path>
            <path stroke-linecap="round" d="M19.92 9c-.424.956.26 2.012-.163 2.967M18.065 19.925c-1.056.024-1.736 1.083-2.793 1.106M6.106 11.609c1.056 0 1.76-1.044 2.817-1.044"></path>
            <path stroke-linejoin="round" d="M7.514 18.565H9.98V16.13H7.514z"></path>
          </g>
        </svg>
      </div>
      <div class="pp_title">{{title}}</div>
    </div>
    <div class="pp_content">{{message}}</div>
  </div> 
  <div class="close_btn_thick"></div> 
</div>