.privacy_prompt { 
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: left;
  color: #fff;
  font-family: BrownRegular,Arial,sans-serif;
  font-size: 11px;
  line-height: 1.09;
  z-index: 1000;

  max-width: 496px;
  background-color: #232323;
}

.privacy_prompt a { 
  color: #fff;
  text-decoration: underline;
} 

.privacy_prompt_content { 
  padding: 15px 15px 17px 15px; 
} 

.privacy_prompt .pp_cookie {
  float: left;
}

.privacy_prompt .pp_title {
  font-family: BrownBold,Arial,sans-serif;
  margin: 0 37px 0 43px;
  font-size: 14px;
  font-weight: 400;
}

.privacy_prompt .pp_content {
  margin-top: 10px;
}

.privacy_prompt > .close_btn_thick { 
  position: absolute; 
  display: block; 
  top: 8px; 
  right: 10px; 
  text-decoration: none; 
  color: #fff; 
  font: 20px/100% arial, sans-serif; 
  cursor: pointer; 
}

.privacy_prompt > .close_btn_thick:hover { 
  color: rgb(120, 120, 120); 
} 

.privacy_prompt > .close_btn_thick:after { 
  content: "\00D7";  
}

@media screen and (max-width: 500px) {

  .privacy_prompt {
      font-size: 9px;
      line-height: 1.11;
      max-width: 320px;
  }

  .privacy_prompt_content { 
      padding: 15px; 
  }

  .privacy_prompt .pp_title {
      margin: 0 34px 0 40px;
      font-size: 12px;
  }

}