
<div id="container">
    <div id="bg_layer_dialogue"></div>
    <div class="consent_dialogue col-12 col-md-8">
        <div class="consent_dialogue_content">
            <h1 class="dialogue_title">{{title}}</h1>
            
            <p class="dialogue_paragraph">{{message}}</p>
            <div class="divTable">
                <div class="divTableBody">
                    <div class="table_header">
                        <div class="header_title">{{category}}</div>
                        <div class="header_description">{{description}}</div>
                        <div class="header_status">{{status}}</div>
                    </div>
                    <div class="table_row" id="analytics">
                        <div class="table_row_title">{{category_analytics_title}}</div>
                        <div class="table_row_description">{{category_analytics_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat1" class="toggle" type="checkbox"/> <label for="toggle_cat1"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="affiliates">
                        <div class="table_row_title">{{category_affiliates_title}}</div>
                        <div class="table_row_description">{{category_affiliates_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat2" class="toggle" type="checkbox"checked=checked /> <label for="toggle_cat2"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="display">
                        <div class="table_row_title">{{category_display_ads_title}}</div>
                        <div class="table_row_description">{{category_display_ads_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat3" class="toggle" type="checkbox" checked=checked /> <label for="toggle_cat3"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="search">
                        <div class="table_row_title">{{category_search_title}}</div>
                        <div class="table_row_description">{{category_search_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat4" class="toggle" type="checkbox" checked=checked /> <label for="toggle_cat4"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="email">
                        <div class="table_row_title">{{category_email_title}}</div>
                        <div class="table_row_description">{{category_email_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat5" class="toggle" type="checkbox" checked=checked /> <label for="toggle_cat5"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="personalization">
                        <div class="table_row_title">{{category_personalization_title}}</div>
                        <div class="table_row_description">{{category_personalization_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat6" class="toggle" type="checkbox" checked=checked /> <label for="toggle_cat6"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="social">
                        <div class="table_row_title">{{category_social_title}}</div>
                        <div class="table_row_description">{{category_social_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat7" class="toggle" type="checkbox" checked=checked /> <label for="toggle_cat7"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="big_data">
                        <div class="table_row_title">{{category_big_data_title}}</div>
                        <div class="table_row_description">{{category_big_data_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat8" class="toggle" type="checkbox" checked=checked /> <label for="toggle_cat8"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="miscallenous">
                        <div class="table_row_title">{{category_misc_title}}</div>
                        <div class="table_row_description">{{category_misc_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat9" class="toggle" type="checkbox"checked=checked /> <label for="toggle_cat9"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="cookie_match">
                        <div class="table_row_title">{{category_cookiematch_title}}</div>
                        <div class="table_row_description">{{category_cookiematch_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat10" class="toggle" type="checkbox" checked=checked /> <label for="toggle_cat10"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="cdp">
                        <div class="table_row_title">{{category_cdp_title}}</div>
                        <div class="table_row_description">{{category_cdp_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat11" class="toggle" type="checkbox" checked=checked /> <label for="toggle_cat11"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="mobile">
                        <div class="table_row_title">{{category_mobile_title}}</div>
                        <div class="table_row_description">{{category_mobile_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat12" class="toggle" type="checkbox" checked=checked /> <label for="toggle_cat12"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="engagement">
                        <div class="table_row_title">{{category_engagement_title}}</div>
                        <div class="table_row_description">{{category_engagement_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat13" class="toggle" type="checkbox" checked=checked /> <label for="toggle_cat13"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="monitoring">
                        <div class="table_row_title">{{category_monitoring_title}}</div>
                        <div class="table_row_description">{{category_monitoring_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat14" class="toggle" type="checkbox"  checked=checked/> <label for="toggle_cat14"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                    <div class="table_row" id="crm">
                        <div class="table_row_title">{{category_crm_title}}</div>
                        <div class="table_row_description">{{category_crm_description}}</div>
                        <div class="table_row_status"><input id="toggle_cat15" class="toggle" type="checkbox" checked=checked /> <label for="toggle_cat15"> <span class="on">{{yes}}</span> <span class="off">{{no}}</span></label></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="consent_dialogue_footer">
            <div id="consent_dialogue_submit" class="button right ">{{confirmation_button}}</div>
        </div>
        <div class="close_btn_thick">&nbsp;</div>
    </div>
    </div>