<style>
  .privacy_prompt input[type="checkbox"].toggle:checked + label:before {
    background: {{button_color}} !important;
    border: 1px solid {{button_color}} !important;
  }
  .privacy_prompt.consent_preferences input[type="checkbox"].toggle:checked + label .on,
  .privacy_prompt.consent_preferences .privacy_prompt_footer .button { 
    color: {{yes_button_text_color}} !important;
  }
  .privacy_prompt_footer .button { 
    border: 1px solid {{button_color}} !important; 
    background-color: {{button_color}} !important; 
  } 
</style>
<div class="pp_dimmer"></div>
<div class="privacy_prompt consent_preferences">
  <div class="privacy_prompt_content">
    <h1>{{title}}</h1>
    <p>{{message}}</p>
    <div class="pp_category">
      <div class="pp_category_title">{{category_analytics_title}}</div>
      <div class="pp_category_description">{{category_analytics_description}}</div>
      <div class="pp_category_mandatory">{{mandatory}}</div>
      <div class="pp_category_toggle" hidden>
        <input type="checkbox" class="toggle" id="toggle_cat1" {{category_analytics_default}}>
        <label for="toggle_cat1"><span class="off">non</span><span class="on">oui</span></label>
      </div>
    </div>
    <div class="pp_category">
      <div class="pp_category_title">{{category_personalization_title}}</div>
      <div class="pp_category_description">{{category_personalization_description}}</div>
      <div class="pp_category_toggle">
        <input type="checkbox" class="toggle" id="toggle_cat6" {{category_personalization_default}}>
        <label for="toggle_cat6"><span class="off">{{no}}</span><span class="on">{{yes}}</span></label>
      </div>
      <div class="pp_category_partners">
        <div>voir les partenaires</div>
      </div>
    </div>
    <div class="pp_category">
      <div class="pp_category_title">{{category_display_ads_title}}</div>
      <div class="pp_category_description">{{category_display_ads_description}}</div>
      <div class="pp_category_toggle">
        <input type="checkbox" class="toggle" id="toggle_cat3" {{category_display_ads_default}}>
        <label for="toggle_cat3"><span class="off">{{no}}</span><span class="on">{{yes}}</span></label>
      </div>
      <div class="pp_category_partners">
        <div>voir les partenaires</div>
      </div>
    </div>
    <div class="pp_category">
      <div class="pp_category_title">{{category_big_data_title}}</div>
      <div class="pp_category_description">{{category_big_data_description}}</div>
      <div class="pp_category_toggle">
        <input type="checkbox" class="toggle" id="toggle_cat8" {{category_big_data_default}}>
        <label for="toggle_cat8"><span class="off">{{no}}</span><span class="on">{{yes}}</span></label>
      </div>
      <div class="pp_category_partners">
        <div>{{link_to_partners}}</div>
      </div>
    </div>
  </div>
  <div class="privacy_prompt_footer">
    <div id="preferences_prompt_submit" class="button">{{confirmation_button}}</div>
    <a href="{{privacy_policy_url}}">voir la politique de confidentialité</a>
  </div>
  <div class="close_btn_thick"></div>
</div>