.privacy_prompt.consent_preferences { 
  position: fixed; 
  top: 0;
  right: -320px; 
  bottom: 0; 
  text-align: left; 
  color: #000;
  font-family: BrownRegular,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.17;
  z-index: 1000; 

  width: 320px;
  height: 100%;
  background-color: #fff;
  transition: 0.5s;
}

.pp_dimmer {
  background: rgba(0, 0, 0, 0.45) none repeat scroll 0% 0%;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  pointer-events: initial;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999;
  transition: 0.5s;
}

.privacy_prompt.consent_preferences a { 
  color: #000;
} 

.privacy_prompt_content { 
  padding: 45px 20px 45px 20px;
  overflow: auto;
  position: absolute;
  width: 280px;
  top: 0;
  bottom: 125px;
  right: 0;
} 

.privacy_prompt.consent_preferences h1 {
  font-family: BrownBold,Arial,sans-serif;
  font-size: 18px; 
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.privacy_prompt.consent_preferences p {
  margin: 12px 0;
}

.privacy_prompt.consent_preferences .pp_category {
  padding: 20px 0 10px 0;
  clear: both;
  overflow: hidden;
}

.privacy_prompt.consent_preferences .pp_category .pp_category_title {
  font-family: BrownBold,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.privacy_prompt.consent_preferences .pp_category .pp_category_description {
  margin: 5px 0 15px 0;
}

.privacy_prompt.consent_preferences .pp_category .pp_category_mandatory {
  font-size: 9px;
}

.privacy_prompt.consent_preferences .pp_category .pp_category_partners {
  font-size: 9px;
  text-decoration: underline;
  cursor: pointer;
  float: right;
  height: 38px;
  display: flex;
  align-items: flex-end;
}

.privacy_prompt.consent_preferences .pp_category .pp_category_toggle {
  float: left;
}

.privacy_prompt.consent_preferences .privacy_prompt_footer { 
  text-align: center;
  padding: 25px; 
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
} 

.privacy_prompt.consent_preferences .privacy_prompt_footer a { 
  font-size: 10px;
} 

.privacy_prompt.consent_preferences .privacy_prompt_footer .button { 
  font-family: BrownBold,Arial,sans-serif;
  font-size: 18px; 
  font-weight: bold;
  color: #fff;
  text-align: center; 
  margin-bottom: 7px;
  height: 54px;
  line-height: 54px;
  border-radius: 28px; 
  cursor: pointer; 
  width: 100%;
} 

.privacy_prompt.consent_preferences > .close_btn_thick { 
  position: absolute; 
  display: block; 
  top: 12px; 
  right: 15px; 
  text-decoration: none; 
  font: 24px/100% arial, sans-serif; 
  cursor: pointer;
  color: #000;
}

.privacy_prompt.consent_preferences > .close_btn_thick:hover {
  color: rgb(120, 120, 120); 
} 

.privacy_prompt.consent_preferences > .close_btn_thick:after { 
  content: "\00D7";  
}

.privacy_prompt.consent_preferences input[type="checkbox"].toggle { 
  opacity: 0; 
  position: absolute; 
  left: -99999px; 
} 

.privacy_prompt.consent_preferences input[type="checkbox"].toggle + label { 
  height: 30px; 
  line-height: 30px;
  overflow: hidden;
  background-color: rgba(216, 216, 216, 0.25);
  border-radius: 15px; 
  display: inline-block; 
  position: relative; 
  cursor: pointer;
  z-index: 5;
  -moz-transition: all 0.25s ease-in; 
  -o-transition: all 0.25s ease-in; 
  -webkit-transition: all 0.25s ease-in; 
  transition: all 0.25s ease-in; 
}

.privacy_prompt.consent_preferences input[type="checkbox"].toggle + label span { 
  width: 75px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  -moz-transition: all 0.25s ease-in; 
  -o-transition: all 0.25s ease-in; 
  -webkit-transition: all 0.25s ease-in; 
  transition: all 0.25s ease-in; 
  z-index: 7;
  position: relative;
}

.privacy_prompt.consent_preferences input[type="checkbox"].toggle + label:before, .privacy_prompt.consent_preferences input[type="checkbox"].toggle + label:hover:before { 
  content: " "; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 75px; 
  height: 28px; 
  border: 1px solid #000;
  z-index: 6;
  -moz-transition: all 0.25s ease-in; 
  -o-transition: all 0.25s ease-in; 
  -webkit-transition: all 0.25s ease-in; 
  transition: all 0.25s ease-in; 
  border-radius: 15px; 
} 

.privacy_prompt.consent_preferences input[type="checkbox"].toggle:checked + label .off { 
  display: inline-block;
  color: #e8e5e5;
}
.privacy_prompt.consent_preferences input[type="checkbox"].toggle:checked + label .on { 
  display: inline-block; 
  color: #fff; 
}

.privacy_prompt.consent_preferences input[type="checkbox"].toggle + label .on { 
  display: inline-block; 
  color: #fff; 
}
.privacy_prompt.consent_preferences input[type="checkbox"].toggle + label .off { 
  display: inline-block;
  color: #000;
}

.privacy_prompt.consent_preferences input[type="checkbox"].toggle:checked + label:before, .privacy_prompt.consent_preferences input[type="checkbox"].toggle:checked + label:hover:before, .privacy_prompt.consent_preferences input[type="checkbox"].toggle:focus:checked + label:before, .privacy_prompt.consent_preferences input[type="checkbox"].toggle:focus:checked + label:hover:before { 
  background-position: 0 0; 
  left: 100%; 
  margin-left: -75px; 
}